*{
    max-width: 1440px;
    margin: 0 auto;
    padding: 5px;
}


header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    padding: 16px 120px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    padding: 16px 120px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.btn{
    background-color: #30B868;
    color: white;
    border: none;
    height: 44px;
    width: 164px;
    justify-content: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}