

header{
    background: #FBFBFB;
    background-position: center;
}


.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}



header nav{
    background: #FBFBFB;
    height: 92px;
    padding: 16px 120px 16px 120px;
    width: auto;
    max-width: 1440px;
    margin: 0 auto;

}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    padding: 16px 120px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    font-style: medium;
    font-family: Inter;
}

.btn{
    background-color: #30B868;
    color: white;
    border: none;
    height: 52px;
    width: auto;
    padding: 12px 16px;
    justify-content: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
button:hover {
  background-color: #2980b9;
}
.btn2{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    height: 52px;
    width: auto;
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.button-container .btn2 i{
    margin-top: 32px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}


.banner-content{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 70px 120px 134px 120px;
}
#round-shapes {
    position: relative;
    width: 16px; 
    height: 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#round-shapes div {
    position: absolute;
    border-radius: 50%; 
}


#round-shapes .round-shape1{
    width: 6px;
    height: 6px;
    background-color: #30B868;
    border-radius: 8px;
}
#round-shapes .round-shape2{
    width: 12px;
    height: 12px;
    background-color: #30B868;
    opacity: 0.4;
    border-radius: 8px;
}
#round-shapes .round-shape3{
    width: 16px;
    height: 16px;
    background-color: #30B868;
    opacity: 0.2;
    border-radius: 8px;
}


.bnr-btn{
    display: flex;
    gap: 6px;
    width: 229px;
    height: 35px;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border-radius: 1000px;
    border: none;
    font-family: Inter;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    color: #30B868;

}



.button-container{
    display: flex;
    gap: 32px;
    margin-top: 32px;
}


#banner .banner-content h1{
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-transform: capitalize;
    margin-top: 16px;
}

#banner .banner-content h1 .grn-txt{
    color: #30B868;
}

#banner .banner-content p{
    color: #FFFFFF;
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 16px;
}

#card{
    max-width: 1440px;
    margin: 0 auto;
}
#card-container .round-shape{
    width: 60px;
    height: 60px;
    background-color: #F95555; 
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#card .card-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 132px;
}

#card .card-title h1{
   font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-transform: capitalize;
}

#card .card-title p{
    margin-top: 16px;
}


#card-container{
    display: flex;
    flex-direction: center;
    align-items: center;
    margin-top: 44px;
    gap: 16px;
    height: 300px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
}


#card-container .card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px;
    height: 300px;
    background-color: #e3fccc;

}

#card-container .card-content h3{
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

#card-container.card-content p{
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

#brain{
    display: flex;
    justify-content: justify;
    align-items: center;
    gap: 60px;
    padding: 120px;
    margin-top: 72px;
}

#brain div.article-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#brain div.article-content h6{
    font-family: Inter;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    color: #30B868;

}
#brain div.article-content h2{
    color: #001931;
    margin-top: 16px;
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

#brain div ul li{
    list-style-image: url(../assets/CheckCircle.png);

}

#brain div .article-content p{
font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}

#brain div.article-content ul{
align-items: center;
color:#001931;
font-family: Inter;
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}

#early-access .EA-content{
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: center;
    margin: 0px 120px 120px 120px;
    padding: 80px 40px;
}

#early-access .EA-content h1{
    color: #001931;
    font-family: Inter;
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

#early-access .EA-content p{
    margin-top: 16px;
    color: #627382;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

#early-access .EA-content .EA-btn{
    margin-top: 24px;
    box-shadow: 4px 4px 5px -2px;
    border-radius: 8px;
    background-color: transparent;
}

.social-f{
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 30px;
    background:  #001931;

}

.social-f img{
    image-resolution: 100%;
    height: 100%;
    width: auto;
}
.social-f div.s-links{
    align-items: left;
    color: white;
}
.social-f div.s-links.social-icons{
    display: flex;
    gap: 16px;
    margin-top: 16px;
    justify-content: left;
    align-items: left;
}

.social-f div.s-links h3{
    color: white;
    font-family: Inter;
    font-style: Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}


footer div.copyright{
    background:  #001931;
    color: white;
    text-align: center;
    margin-top: 01px;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}