*{
    max-width: 1440px;
}

header{
    background: #FBFBFB;
    background-position: center;
}


.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}



header nav{
    background: #FBFBFB;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;

}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    padding: 16px 120px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 500;
    font-style: medium;
    font-family: Inter;
}

.btn{
    background-color: #30B868;
    color: white;
    border: none;
    height: 44px;
    width: 164px;
    justify-content: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn2{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    height: 44px;
    width: 164px;
    justify-content: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

#banner{
    border: 1px solid red;
}

.banner-content{
    background: url(../assets/hero-bg.png);
    max-width: 1140px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 70px 120px 134px 120px;
}

.bnr-btn{
    display: flex;
    gap: 6px;
    width: 229px;
    height: 35px;
    color: #30B868;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border-radius: 1000px;
}

.status-dot{
  width: 8px;
  height: 8px;
  background-color: #28a745;
  border-radius: 50%;
  margin-right: 8px;
}

.button-container{
    display: flex;
    gap: 16px;
}
