

header{
    background: #FBFBFB;
    background-position: center;
}


.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}



header nav{
    background: #FBFBFB;
    width: auto;
    max-width: 1140px;
    margin: 0 auto;

}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    padding: 16px 120px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 500;
    font-style: medium;
    font-family: Inter;
}

.btn{
    background-color: #30B868;
    color: white;
    border: none;
    height: 52px;
    width: auto;
    padding: 12px 16px;
    justify-content: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn2{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    height: 52px;
    width: auto;
    justify-content: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.button-container .btn2 i{
    margin-top: 32px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

#banner{
    border: 1px solid red;
}

.banner-content{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 70px 120px 134px 120px;
}
#round-shapes {
    position: relative;
    width: 16px; 
    height: 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#round-shapes div {
    position: absolute;
    border-radius: 50%; 
}


#round-shapes .round-shape1{
    width: 6px;
    height: 6px;
    background-color: #30B868;
    border-radius: 8px;
}
#round-shapes .round-shape2{
    width: 12px;
    height: 12px;
    background-color: #30B868;
    opacity: 0.4;
    border-radius: 8px;
}
#round-shapes .round-shape3{
    width: 16px;
    height: 16px;
    background-color: #30B868;
    opacity: 0.2;
    border-radius: 8px;
}


.bnr-btn{
    display: flex;
    gap: 6px;
    width: 229px;
    height: 35px;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border-radius: 1000px;
    border: none;
    font-family: Inter;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    color: #30B868;

}



.button-container{
    display: flex;
    gap: 32px;
    margin-top: 32px;
}


#banner .banner-content h1{
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-transform: capitalize;
    margin-top: 16px;
}

#banner .banner-content h1 .grn-txt{
    color: #30B868;
}

#banner .banner-content p{
    color: #FFFFFF;
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 16px;
}

